{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Dashboard</h1>
    <p>Welcome, {{ user.username }}!</p>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Teams</h5>
                    <p class="card-text">View all engineering teams</p>
                    <a href="{% url 'teams:team_list' %}" class="btn btn-light">Go to Teams</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">My Profile</h5>
                    <p class="card-text">Update your profile information</p>
                    <a href="{% url 'accounts:profile' %}" class="btn btn-light">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
